

      <tr>
        <td><%= micropost.user.name %></td>
        <td><%=h micropost.content.html_safe %></td>
        <td><%= link_to 'Edit', edit_micropost_path(micropost) %></td>
        <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
 
      </tr>
